// Custom Variables

// Color system

$white:    #fff;
$white-transparent:    rgba($white, .5);
$gray-100: #f9f9f9;
$gray-200: #e9ecef;
$gray-300: #eeeeee;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #737373;
$gray-800: #343a40;
$gray-900: #212121;
$black:    #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
    ),
    $grays
);

$blue:         #3981e5;
$blue-dark:    #015a75;
$purple:       #a65ce7;
$purple-light:       rgba($purple, 0.12);
$pink:         #e83e8c;
$red:          #ff512f;
$red-light:          rgba($red, 0.12);
$orange:       #fd7e14;
$yellow:       #f4b61e;
$green:        #37b779;
$green-light:  #e7f6ef;
$teal:         #e7f6ef;
$cyan:         #17a2b8;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "blue":       $blue,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-800
                ),
                $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: ();

// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark
                ),
                $theme-colors
);

// Settings for the `<body>` element.

$body-bg:                   #f9f9f9;
$body-color:                $gray-900;

// Navbar
$navbar-padding-y:                  0.325rem;

$box-shadow:  0 2px 2px 0 rgba($black, 0.16);

//Font
$font-family-base: "Roboto", sans-serif;

//Sidebar
$sidebar-width: 252px;


