//Sidebar section
#sidebar.sidebar.col.collapse.navbar-collapse
    ul.main-menu.list-unstyled
        li
            a(href="#").main-menu-link
                +icon('home','')
                span Home
        li
            a(href="#").main-menu-link
                +icon('news-menu','')
                span News & Content
        li
            a(href="#").main-menu-link
                +icon('flame-menu','')
                span Weekly App Authority
        li
            a(href="#").main-menu-link
                +icon('trophy','')
                span Life Goals
        li
            a(href="#").main-menu-link
                +icon('apps','')
                span Apps & Game Categories
        li
            a(href="#").main-menu-link
                +icon('features-menu','')
                span App & Game Features
        li
            a(href="#").main-menu-link
                +icon('heart','')
                span Featured Apps
        li
            a(href="#").main-menu-link
                +icon('about','')
                span About Us
        li
            a(href="#").main-menu-link
                +icon('sitemap','')
                span Sitemap
//end of Sidebar section
