// More Apps section
section.more-apps.pt-3
    .card.rounded-0.border-0.border-top
        .card-header.border-0.py-3.bg-light
            h4.card-title.mb-0 More Apps For You
        .card-body.p-0
            h4.card-title.p-3
                a.align-middle(href="#") Be Successful at My Job
                    span.arrow.arrow-right.ml-1.align-middle
            ul.more-apps-list
                li.card.p-3
                    img.card-img-top.mb-2(src='img/content/more-apps-01.jpg', alt='...')
                    .card-body.p-0.mb-3
                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                        p.card-text.lead-sm
                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .more-apps-stats
                        p #[span 260] Apps
                        p #[span 675] Contributors
                li.card.p-3
                    img.card-img-top.mb-2(src='img/content/more-apps-02.jpg', alt='...')
                    .card-body.p-0.mb-3
                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                        p.card-text.lead-sm
                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .more-apps-stats
                        p #[span 260] Apps
                        p #[span 675] Contributors
                li.card.p-3
                    img.card-img-top.mb-2(src='img/content/more-apps-03.jpg', alt='...')
                    .card-body.p-0.mb-3
                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                        p.card-text.lead-sm
                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .more-apps-stats
                        p #[span 260] Apps
                        p #[span 675] Contributors
                li.card.p-3
                    img.card-img-top.mb-2(src='img/content/more-apps-04.jpg', alt='...')
                    .card-body.p-0.mb-3
                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                        p.card-text.lead-sm
                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .more-apps-stats
                        p #[span 260] Apps
                        p #[span 675] Contributors
        .card-footer.text-muted.p-4
            h5.text-center AppGrooves is your all-inclusive guide to the newest, hottest apps and games


// end of More Apps section

