.more-apps {
    &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .card {
            width: 50%;
            border: 0;
            @include media-breakpoint-down(sm){
                width: 100%;
            }
            &-title {
                font-size: 1.125rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.39;
                letter-spacing: normal;
                color: $body-color;
                a {
                    color: inherit;
                }
            }
            &-text {
                font-size: 0.875rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.39;
                letter-spacing: normal;
            }
        }
    }

}
.more-apps-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    p {
        font-size: 0.875rem;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $gray-700;
        & + p {
            padding-left: 1rem;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: .5rem;
                top: .5rem;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: $gray-700;
            }
        }
    }
}
