//Best apps tab
section.best-apps
    .card
        .card-header.border-0.bg-white.px-0
            h6.card-title.text-secondary.mb-0 Best Apps by LifeGoals
        .card-body.p-0
            h4.card-title Be Successful at My Job
            #best-apps.carousel.slide(data-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                    .carousel-item
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-02.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                a.carousel-control-prev(href='#best-apps', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#best-apps', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
    .card.border-0
        .card-body.p-0
            h4.card-title Be Creative
            #creative.carousel.slide(data-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col-8
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                                .col
                                    .d-flex.justify-content-center.align-content-center.h-100
                                        a.btn.btn-light.text-primary.my-auto(href="#")
                                            span.text-primary.text-uppercase See All
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-02.jpg', alt='...')
                                .col-8
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                                .col
                                    .d-flex.justify-content-center.align-content-center.h-100
                                        a.btn.btn-light.text-primary.my-auto(href="#")
                                            span.text-primary.text-uppercase See All

                    .carousel-item
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                        .card.border-0
                            .row.no-gutters
                                .col.card-img
                                    img(src='img/content/tabs-img-01.jpg', alt='...')
                                .col
                                    .card-body.p-0.mb-3
                                        h5.card-title #[a(href="#") Best Apps to Stay Efficient as a Full-Time Writer]
                                        p.card-text.lead-sm
                                            | This is the app bundle summary in display Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .more-apps-stats
                                        p #[span 260] Apps
                                        p #[span 675] Contributors
                                        .d-flex.flex-row.ml-auto
                                            +icon('bookmark','')
                                            p #[span 2] K
                a.carousel-control-prev(href='#creative', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#creative', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
            .p-3
                a(href="#").btn.btn-more.text-uppercase.w-100 See more
//end of Best apps tab
