footer.footer
    .container
        h2.footer-title Discover & achieve life goals with the best apps
        p.text-white Get More Out of Life with Apps
        p.text-white Have suggestion?
            a(href='#') Contact Us
        .row.px-3
            .footer-nav
                h2.footer-title Life Goals
                ul.footer-nav-menu
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Career]
                        ul
                            li #[a.footer-nav-link( href='#') Get a Dream Job]
                            li #[a.footer-nav-link( href='#') Be Successful at My Job]
                            li #[a.footer-nav-link( href='#') Run a Successful Business]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Romance]
                        ul
                            li #[a.footer-nav-link( href='#') Find Love]
                            li #[a.footer-nav-link( href='#') Have a Dream Wedding]
                            li #[a.footer-nav-link( href='#') Make My Partner Happy]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Family]
                        ul
                            li #[a.footer-nav-link( href='#') Have a Child]
                            li #[a.footer-nav-link( href='#') Be a Great Parent]
                            li #[a.footer-nav-link( href='#') Have a Happy Family]
                            li #[a.footer-nav-link( href='#') Feel Safe]
                            li #[a.footer-nav-link( href='#') Save Memories]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Money]
                        ul
                            li #[a.footer-nav-link( href='#') Earn Money]
                            li #[a.footer-nav-link( href='#') Manage Money Efficiently]
                            li #[a.footer-nav-link( href='#') Spend Less Money]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Kids]
                        ul
                            li #[a.footer-nav-link( href='#') Make My Kids Happy]
                            li #[a.footer-nav-link( href='#') Help My Preschooler Learn]
                            li #[a.footer-nav-link( href='#') Help My Grade Schooler Learn]
                            li #[a.footer-nav-link( href='#') Help My Middle Schooler Learn]
                            li #[a.footer-nav-link( href='#') Keep Kids Entertained]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Exercise]
                        ul
                            li #[a.footer-nav-link( href='#') Be Fit]
                            li #[a.footer-nav-link( href='#') Be Physically Attractive]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Eating & Drinking]
                        ul
                            li #[a.footer-nav-link( href='#') Eat Delicious Food]
                            li #[a.footer-nav-link( href='#') Have Delicious Drinks]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Home]
                        ul
                            li #[a.footer-nav-link( href='#') Have a Home]
                            li #[a.footer-nav-link( href='#') Make Home Beautiful]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Friends]
                        ul
                            li #[a.footer-nav-link( href='#') Have Fun With Friends]
                            li #[a.footer-nav-link( href='#') Meet New People]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Journey]
                        ul
                            li #[a.footer-nav-link( href='#') Explore the US]
                            li #[a.footer-nav-link( href='#') Explore the World]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Personal Growth]
                        ul
                            li #[a.footer-nav-link( href='#') Be an Independent Adult]
                            li #[a.footer-nav-link( href='#') Achieve Great Results]
                            li #[a.footer-nav-link( href='#') Be Productive]
                            li #[a.footer-nav-link( href='#') Save Time]
                            li #[a.footer-nav-link( href='#') Enjoy Life]
                            li #[a.footer-nav-link( href='#') Practice Religion]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Learning]
                        ul
                            li #[a.footer-nav-link( href='#') Be Smarter]
                            li #[a.footer-nav-link( href='#') Get Latest News]
                            li #[a.footer-nav-link( href='#') Be Successful in High School]
                            li #[a.footer-nav-link( href='#') Go to a Good College]
                            li #[a.footer-nav-link( href='#') Get Advanced Education]
                            li #[a.footer-nav-link( href='#') Learn Practical Skills]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Fun]
                        ul
                            li #[a.footer-nav-link( href='#') Fill Spare Time]
                            li #[a.footer-nav-link( href='#') Be Creative]
                            li #[a.footer-nav-link( href='#') Challenge Myself]
                            li #[a.footer-nav-link( href='#') Enjoy a Hobby]
                            li #[a.footer-nav-link( href='#') Have Adventures]
                            li #[a.footer-nav-link( href='#') Have Hours of Fun]
                            li #[a.footer-nav-link( href='#') Play With Friends]
                            li #[a.footer-nav-link( href='#') Compete Against Others]
                            li #[a.footer-nav-link( href='#') Be Funny]
                            li #[a.footer-nav-link( href='#') Keep Mind Sharp]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Wellness & Health]
                        ul
                            li #[a.footer-nav-link( href='#') Stay Healthy]
                            li #[a.footer-nav-link( href='#') Live Longer]
                            li #[a.footer-nav-link( href='#') Recover from Illness]
                            li #[a.footer-nav-link( href='#') Feel Relaxed]
                    li
                        h4.footer-nav-title #[a.footer-nav-link( href='#') Beauty]
                        ul
                            li #[a.footer-nav-link( href='#') Look Pretty]
                            li #[a.footer-nav-link( href='#') Dress Well]
                a(href="#").text-primary.text-uppercase See More
footer.footer.footer-bottom.py-3
    .container
        h2.footer-title.text-center Don’t miss our updates!
        ul.footer-social
            li #[a(href="#") #[+icon('facebook','')]]
            li #[a(href="#") #[+icon('twitter','')]]
            li #[a(href="#") #[+icon('footer-insta','')]]
            li #[a(href="#") #[+icon('footer-pinterest','')]]
            li #[a(href="#") #[+icon('linkedin','')]]
        ul.footer-bottom-nav
            li #[a(href="#") About Us]
            li #[a(href="#") Sitemap]
            li #[a(href="#") Terms of Service]
            li #[a(href="#") Privacy Policy]
        p.copyright.text-center Copyright © AppGrooves, 2017 - 2018

